@font-face {
    font-family: 'Supermolot';
    src: url(fonts/TTSupermolotNeue-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: 'Supermolot';
    src: url(fonts/TTSupermolotNeue-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: 'Supermolot';
    src: url(fonts/TTSupermolotNeue-Black.ttf);
    font-weight: 900;
}
:root {
    --app-height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Manrope';
    font-style: normal;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}
@media not all and (hover:hover) {
    body {
        height: var(--app-height);
    }
}

p {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
#wrapper {
    width: 100%;
    height: 100vh;
    max-height: -webkit-fill-available;
}
.header {
    position: absolute;
    top: 0px;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100px;
    width: 100%;
    background: transparent;
}
.header-item {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 32px;
    line-height: 119.6%;
}
.main-header_item {
    cursor: pointer;
    font-family: 'Supermolot';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    width: 350px;
    line-height: 119.6%;
    text-decoration: none;
    color: white;
}
.main-header_item br {
    display: none !important;
    
}
#frame {
    height: 100vh;
    position: relative;
    overflow: hidden;
}

#game {
    height: 100%;
    background: #317EF2;
    overflow: hidden;
}

#game .runner {
    position: absolute;
    height: 100px;
    width: 70px !important;
    background-size: cover !important;
    /*background: url('img/runu.gif') center center;*/
    z-index: 5;
}
#game .runner svg {
    margin-left:-25px;
    margin-bottom: -92px;
    width: 120px !important;
    height: 100%;
}

.die {
    animation: dead 800ms forwards;
}

@keyframes dead {
    100% {
        transform: translateY(500%);
    }
}

#game .building {
    position: absolute;
    bottom: 0;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 3;
}

#game .paralaxbg1, #game .paralaxbg2, #game .cloud {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-repeat: repeat-x;
}

#game .paralaxbg1 {
    background-image: url('img/city.svg');
    z-index: 3;
    background-size: cover;
}

#game .paralaxbg2 {
    background-image: url('img/mountains.svg');
    z-index: 2;
    background-size: cover;
}
#game .cloud {
    background-size: 200%;
    background-image: url('img/cloud.svg');
    z-index: 1;
}

#game .paralaxbeam1, #game .paralaxbeam2 {
    position: absolute;
    top: 0;
    height: 100%;
    z-index: 6;
}

#game .paralaxbeam1 {
    width: 40px;
    background: #35353D;
}

#game .paralaxbeam2 {
    width: 128px;
    background: url('paralax-fg-crossbeams.png');
}

#game .distance {
    position: absolute;
    left:50%;
    top: 80px;
    transform:translate(-50%, 25%);
    font-family: sans-serif;
    font-weight: bolder;
    color: white;
    background: #FFDC00;
    min-width: 100px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset -2px -2px 0px #D5B800, inset 2px 2px 0px #FDFF89;
    border-radius: 2px;
    color: #2F70DF;
    font-size: 15.7221px;
    text-align: right;
    z-index: 7;
}

a {
    text-decoration: none;
}
.dn {
    display: none !important;
}
.df {
    display: flex !important;
}
.modal {
    display: none;
    position: fixed;
    z-index: 99;
    left: 0;
    top: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: rgba(0, 0, 0, 0.48);;
    backdrop-filter: blur(16px);
}
.modal-header {
    width: 90px;
}
.modal-header a > img {
    width: 100%;
    height: 100%;
}
.modal-content {
    background: #2254CF;
    width: calc(1080px - 140px);
    height: calc(625px - 60px);
    border-radius: 6px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 61px;
    padding-top: 30px;
    padding-left: 70px;
    padding-right: 70px;
}
.modal-close {
    position: absolute;
    right: 30px;
    top: 30px;
    cursor: pointer;
}
.modal-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.modal-left {
    width: 470px;
}
.modal-close {
    width: 30px;
    height: 30px;
}
.modal-left-title {
    font-family: 'Supermolot';
    font-style: normal;
    font-weight: 700;
    font-size: 19.4382px;
    line-height: 24px;
    color: #FFFFFF;
    opacity: 0.5;
}
.modal-left-score {
    font-family: 'Supermolot';
    font-style: normal;
    margin-bottom: 15px;
    margin-top: 15px;
    font-weight: 900;
    font-size: 40.2747px;
    line-height: 100.3%;
    color: #FFDC00;
}
.modal-left-text {
    font-family: 'Supermolot';
    font-style: normal;
    font-weight: 900;
    font-size: 45px;
    line-height: 100.3%;
    color: #FFFFFF;
    margin-bottom: 60px;
}
.modal-left-btn {
    background: #FFDC00;
    box-shadow: inset -6px -6px 0px #D5B800, inset 6px 6px 0px #FDFF89;
    border-radius: 19px;
    width: 228.08px;
    height: 48.58px;

    font-family: 'Supermolot';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    color: #3770F6;
    border: none;
    cursor: pointer;
}
.modal-right {
    width: 390px; 
}
.modal-text {
    font-weight: 700;
    font-size: 15.6466px;
    line-height: 143.8%;
    text-align: center;
    color: #FFDC00;
    margin-top: 60px;
}

/* PERSON MODAL */
.person-modal {
    display: none;
    position: fixed;
    z-index: 99;
    left: 0;
    top: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: rgba(0, 0, 0, 0.48);;
    backdrop-filter: blur(16px);
}
.person-modal-content {
    background: #2254CF;
    width: calc(580px - 140px);
    height: calc(625px - 60px);
    border-radius: 6px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 61px;
    padding-top: 30px;
    padding-left: 70px;
    padding-right: 70px;
}
.modal-left-title {
    font-family: 'Supermolot';
    font-style: normal;
    font-weight: 700;
    font-size: 19.4382px;
    line-height: 24px;
    color: #FFFFFF;
    opacity: 0.5;
}
.person-modal-content_title {
    margin-top: 24px;
}
.person-modal-content_person {
    margin-top: 10px;
    margin-bottom: 20px;
}
.person-modal-content_img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 99% !important;
}
.swiper {
    width: 100%;
    height: 100%;
}
.modal-close {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 30px;
    top: 30px;
    cursor: pointer;
}
.swiper-slide {
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.person-modal-content_img {
    width: 250px !important;
    height: 350px;
    margin-bottom: 30px;
}
.swiper-slide img {
    width: 100%;
    height: 100%;
}
.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after, .swiper-button-prev:after, .swiper-rtl .swiper-button-prev:after {
    display: none;
}

.person-modal-content_person {
    font-family: 'Supermolot';
    font-style: normal;
    font-weight: 900;
    font-size: 22px;
    line-height: 113.3%;
    text-align: center;
    color: #FFFFFF;
}
.person-modal-conent_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 178px;
    height: 38px;
    background: #FFDC00;
    box-shadow: inset -4px -4px 0px #D5B800, inset 4px 4px 0px #FDFF89;
    border-radius: 6px;   
    cursor: pointer;
    border: none;
}
.person-modal-conent_btn.disabled {
    background: rgba(255, 220, 0, 0.5);
    box-shadow: inset -4px -4px 0px rgba(213, 184, 0, 0.3), inset 4px 4px 0px rgba(255, 220, 0, 0.3);
}
.person-modal-conent_btn img {
    position: absolute;
    top: -10px;
    right: -86px;
    z-index: 99;
}
.person-modal-conent_btn-text {
    font-family: 'Supermolot';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #3770F6;
}



@media (max-width: 998px) {
    .modal-content {
        width: 100%;
        min-height: 100vh;
        height: auto;
        padding: 10px 30px;
        justify-content: initial;
    }
    .modal-header {
        margin-top: 25px;
        width: 60px;
    }
    .modal-container {
        flex-direction: column-reverse;
    }
    .modal-left {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column; 
    }
    .modal-right {
        width: 200px;
        margin-top: 50px;
    }
    .modal-right img {
        width: 100%;
        height: 100%;
    }
    .modal-left-text {
        text-align: center;
        font-size: 22px;
    }
    
}
@media (max-width: 575px) {
    .header {
        height: 60px;
    }
    .header-item {
        width: 60px;
         font-size: 10px;
    }
    .header-item img {
        width: 100%;
    }
    .main-header_item br {
        display: block;
     }
    .main-header_item {
        width: 100px;
        font-size: 16px;
    }
    #frame {
        height: 100vh;
    }
    #game .distance {
        top: 50px;
    }
    #game {
        height: 100vh;
    }
    #game .runner {
        /* display: flex;
        justify-content: center;
        align-items: center; */
        height: 124px !important;
        width: 72px !important;
    }
    .runner svg {
        margin-left: -25px !important;
        margin-bottom: -130px !important;
        width: 120px !important;
        height: 100%;
    }
    #game .paralaxbg1 {
        background-size: cover;
    }
    #game .paralaxbg2 {
        background-size: 990% !important;
    }
    #game .cloud {
        background-size: 1200%;
    }
    #game .building {
        background-size: cover;
    }
    #game .distance {
        transform:translate(-50%, 25%);
    }
    .modal-left {
        margin-top: 30px;
    }
    .modal-left-score {
        margin-top: 8px;
        margin-bottom: 18px;
    }
    .modal-container {
        align-items: center;
    }
    .modal-text {
        font-size: 14px;
        line-height: 143.8%;
        margin-top: 30px;
    }
    .person-modal-content {
        width: 100%;
        height: 100%;
        padding: 0px;
    }
    .person-modal-content_header {
        margin-top: 50px;
    }
}
