body {
    margin: 0;
    padding: 0;
    font-family: 'Manrope';
    font-style: normal;
}

#wrapper {
    width: 100%;
    height: 100vh;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100px;
    width: 100%;
    background: #317EF2;
}
.header-item {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 32px;
    line-height: 119.6%;
}
#frame {
    height: calc(100% - 100px);
    position: relative;
    overflow: hidden;
}

#game {
    height: 100%;
    background: #317EF2;
    overflow: hidden;
}

#game .runner {
    position: absolute;
    height: 100px;
    width: 70px !important;
    background-size: cover !important;
    /*background: url('img/runu.gif') center center;*/
    z-index: 5;
}
#game .runner svg {
    margin-left:-25px;
    margin-bottom: -92px;
    width: 120px !important;
    height: 100%;
}

.die {
    animation: dead 800ms forwards;
}

@keyframes dead {
    100% {
        transform: translateY(500%);
    }
}

#game .building {
    position: absolute;
    bottom: 0;
    /*background: #B0B0BF url('windows.png');*/
    background: url('img/ground.png') no-repeat;
    background-size: cover;
    z-index: 3;
}

#game .paralaxbg1, #game .paralaxbg2, #game .cloud {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-repeat: repeat-x;
}

#game .paralaxbg1 {
    background-image: url('img/city.png');
    z-index: 3;
}

#game .paralaxbg2 {
    background-image: url('img/mountains.png');
    z-index: 2;
}
#game .cloud {
    background-size: 200%;
    background-image: url('img/cloud.png');
    z-index: 1;
}

#game .paralaxbeam1, #game .paralaxbeam2 {
    position: absolute;
    top: 0;
    height: 100%;
    z-index: 6;
}

#game .paralaxbeam1 {
    width: 40px;
    background: #35353D;
}

#game .paralaxbeam2 {
    width: 128px;
    background: url('paralax-fg-crossbeams.png');
}

#game .distance {
    position: absolute;
    left:50%;
    transform:translate(-50%, 25%);
    font-family: sans-serif;
    font-weight: bolder;
    color: white;
    background: #FFDC00;
    min-width: 100px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset -2px -2px 0px #D5B800, inset 2px 2px 0px #FDFF89;
    border-radius: 2px;
    color: #2F70DF;
    font-size: 15.7221px;
    text-align: right;
    z-index: 7;
}

a {
    text-decoration: none;
}
.dn {
    display: none !important;
}
.df {
    display: flex !important;
}
.modal {
    display: none;
    position: fixed;
    z-index: 99;
    left: 0;
    top: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: rgba(65, 64, 101, 0.38);
    backdrop-filter: blur(16px);
}

.modal-content {
    background: #2254CF;
    width: calc(1080px - 140px);
    height: calc(625px - 60px);
    border-radius: 6px;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 61px;
    padding-top: 30px;
    padding-left: 70px;
    padding-right: 70px;
}
.modal-close {
    position: absolute;
    right: 30px;
    top: 30px;
    cursor: pointer;
}
.modal-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.modal-left {
    width: 470px;
}
.modal-left-title {
    font-family: 'Supermolot';
    font-style: normal;
    font-weight: 700;
    font-size: 19.4382px;
    line-height: 24px;
    color: #FFFFFF;
    opacity: 0.5;
}
.modal-left-score {
    font-family: 'Supermolot';
    font-style: normal;
    font-weight: 900;
    font-size: 40.2747px;
    line-height: 100.3%;
    color: #FFDC00;
}
.modal-left-text {
    font-family: 'Supermolot';
    font-style: normal;
    font-weight: 900;
    font-size: 45px;
    line-height: 100.3%;
    color: #FFFFFF;
}
.modal-left-btn {
    background: #FFDC00;
    box-shadow: inset -6px -6px 0px #D5B800, inset 6px 6px 0px #FDFF89;
    border-radius: 19px;
    width: 228.08px;
    height: 48.58px;

    font-family: 'Supermolot';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    color: #3770F6;
    border: none;
    cursor: pointer;
}
.modal-right {
    width: 390px; 
}

@media (max-width: 998px) {
    .modal-content {
        width: 100%;
        padding: 0;
        height: calc(100% - 20px);
        padding: 10px 30px;
        justify-content: center;
    }
    .modal-container {
        flex-direction: column;
    }
    .modal-left {
        width: 100%;
    }
    .modal-right {
        width: 100%;
        margin-top: 30px;
    }
    .modal-right img {
        width: 100%;
        height: 100%;
    }
}
@media (max-width: 575px) {
    .header {
        height: 60px;
    }
    .header-item {
        font-size: 10px;
    }
    #frame {
        height: calc(100vh - 60px) !important;
    }
    #game {
        height: calc(100vh - 0px) !important;
    }
    #game .runner {
        /* display: flex;
        justify-content: center;
        align-items: center; */
        height: 124px !important;
        width: 72px !important;
    }
    .runner svg {
        margin-left: -25px !important;
        margin-bottom: -130px !important;
        width: 120px !important;
        height: 100%;
    }
    #game .paralaxbg1 {
        background-size: cover;
    }
    #game .paralaxbg2 {
        background-size: 1613% !important;
    }
    #game .cloud {
        background-size: 1200%;
    }
    #game .building {
        background-size: cover;
    }
    #game .distance {
        transform:translate(-50%, 25%);
    }

}
