body {
    margin: 0;
    padding: 0;
    font-family: 'Manrope';
    font-style: normal;
}

#wrapper {
    width: 100%;
    height: 100vh;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100px;
    width: 100%;
    background: #317EF2;
}
.header-item {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 32px;
    line-height: 119.6%;
}
#frame {
    height: calc(100% - 100px);
    position: relative;
    overflow: hidden;
}

#game {
    height: 100%;
    background: #317EF2;
    overflow: hidden;
}

#game .runner {
    position: absolute;
    height: 100px;
    width: 70px !important;
    background-size: cover !important;
    /*background: url('img/runu.gif') center center;*/
    z-index: 5;
}
#game .runner svg {
    margin-left:-25px;
    margin-bottom: -92px;
    width: 120px !important;
    height: 100%;
}

.die {
    animation: dead 800ms forwards;
}

@keyframes dead {
    100% {
        transform: translateY(500%);
    }
}

#game .building {
    position: absolute;
    bottom: 0;
    border: 1px solid;
    /*background: #B0B0BF url('windows.png');*/
    background: url('img/ground.png') no-repeat;
    background-size: cover;
    z-index: 3;
}

#game .paralaxbg1, #game .paralaxbg2, #game .cloud {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-repeat: repeat-x;
}

#game .paralaxbg1 {
    background-image: url('img/city.png');
    z-index: 3;
}

#game .paralaxbg2 {
    background-image: url('img/mountains.png');
    z-index: 2;
}
#game .cloud {
    background-size: 200%;
    background-image: url('img/cloud.png');
    z-index: 1;
}

#game .paralaxbeam1, #game .paralaxbeam2 {
    position: absolute;
    top: 0;
    height: 100%;
    z-index: 6;
}

#game .paralaxbeam1 {
    width: 40px;
    background: #35353D;
}

#game .paralaxbeam2 {
    width: 128px;
    background: url('paralax-fg-crossbeams.png');
}

#game .distance {
    position: absolute;
    left:50%;
    font-family: sans-serif;
    font-weight: bolder;
    color: white;
    background: #FFDC00;
    min-width: 100px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset -2px -2px 0px #D5B800, inset 2px 2px 0px #FDFF89;
    border-radius: 2px;
    color: #2F70DF;
    font-size: 15.7221px;
    text-align: right;
    z-index: 7;
}

a {
    text-decoration: none;
}


@media (max-width: 575px) {
    .header {
        height: 60px;
    }
    .header-item {
        font-size: 10px;
    }
    #frame {
        height: calc(100vh - 60px) !important;
    }
    #game {
        height: calc(100vh - 0px) !important;
    }
    #game .runner {
        /* display: flex;
        justify-content: center;
        align-items: center; */
        height: 124px !important;
        width: 72px !important;
    }
    .runner svg {
        margin-left: -25px !important;
        margin-bottom: -118px !important;
        width: 120px !important;
        height: 100%;
    }
    #game .paralaxbg1 {
        background-size: cover;
    }
    #game .paralaxbg2 {
        background-size: 1613% !important;
    }
    #game .cloud {
        background-size: 1200%;
    }
    #game .building {
        background-size: cover;
    }
    #game .distance {
        transform:translate(-50%, 25%);
    }
}
